* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms all ease  ;
}

body {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

/* main header start */
.landing-page {
    background-image: url(photos/about-us-min.jpg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.landing-page .__filter {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    background-color: #12111180;
}

.landing-page .__filter .__main-header {
    display: flex;
    min-height: 2rem;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.landing-page .__filter .__main-header div {
    height: 5vh;
    background-image: url(photos/light-logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
}

.landing-page .__filter .__main-header nav>ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.landing-page .__filter .__main-header nav>ul li {
    margin-right: 4.2rem;
    color: white;
}

.landing-page .__filter .__main-header nav>ul li:hover {
    cursor: pointer;
    color: #8C8C8D;
}

.landing-page .__filter .__main-header i {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .landing-page .__filter .__main-header {
        background-color: white;
        display: flex;
        height: auto;
        padding: 1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .landing-page .__filter .__main-header div {
        height: 5vh;
        background-image: url(photos/dark.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .landing-page .__filter .__main-header nav {
        display: none;
    }

    .landing-page .__filter .__main-header i {
        display: block;
        font-size: 1.5rem;
        margin-right: 2rem;
    }

    .landing-page .__filter .__main-header i:hover {
        color: gray;
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 2rem;
    }

    .landing-page .__filter .__digtal .__who-us h1 {
        font-size: unset;
        margin-top: 5rem;
    }

    .landing-page .__filter .__digtal .__who-us button {
        width: 50% !important;
        padding: 1REM;
        background-color: white;
        color: black;
    }

    .landing-page .__filter .__circle {
        padding-right: 0 !important;
    }
}

/* main header -end  */
/* digtal start */
.__digtal {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.__digtal div {
    text-align: center;
    color: white;
}

/* digtal end */
/* reviews start */
.reviews {
    height: auto;
    padding: 5rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.reviews .div {
    margin-top: 3rem;
}

.__group {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* reviews end */
/*<!-------creativety-start-->*/
.creative {
    margin-top: 3rem;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.creative .__creaive-group  {
    height: auto ;
    margin-top: 3rem;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.creative .__creaive-group .__card {
    height: 80vh;
    border: 1rem solid white;
    background-color: white;
}
.creative .__creaive-group .__card  .__continer-img {
    height: 60%;
    width: 100%;
    overflow: hidden;
}
.creative .__creaive-group .__card  .__continer-img img {

    height: 100%;
    width: 100%;
}
.creative .__creaive-group .__card  .__continer-img .__filter{
    height: 100%;
    width: 100%;
    background-color: #252525;
    color: white;
    font-size: 1REM;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.creative .__creaive-group .__card  .__continer-img:hover >.__filter{
    transform: translate(0px, -100%);
    transition: 250ms all ease;
}
/* <!-------------comments-start---------->*/
.comments {
    height: auto;
    background-color: #F0F0F1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.comments .__heading {
    padding: 5rem 0 0;
    text-align: center;
}

.comments .__group {
    height: auto;
    background-color: white;
    display: flex;
    margin-bottom: 5REM;
}

.comments .__group .__person {
    min-height: 50vh;
    border: 1rem solid white;
    padding: 1rem;
    box-shadow: -3px -3px 17px #0000001c;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.comments .__group .__person img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.comments .__group .__person hr {
    background-color: black;
}

.comments .__group .__person .__end {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 767px) {
    .comments .__group .__person {
        min-height: 62vh;
        margin-top: 2rem;
        border: 1rem solid white;
        padding: 3rem;
        box-shadow: -3px -3px 17px #0000001c;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .comments .__group {
        height: auto;
        background-color: white;
        display: flex;
        margin-bottom: 5REM;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }
}

/* <!-------------comments-end------------>*/
/*<!---------------our clints-start------>*/
.our-clints {
    height: auto;
    /* margin-bottom: 3rem; */
    padding: 3rem;
    background-color: #252525;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.our-clints .__heading {
    font-size: 1rem;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.our-clints .__group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.our-clints .__group .__image {
    border-radius: 2rem;
    border: solid #252525 1rem;
    background-color: #F0F0F1;
    text-align: center;
    padding: 1rem;
}

@media only screen and (max-width: 767px) {
    .our-clints {
        height: auto;
        padding: 0rem;
        background-color: #252525;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .our-clints .__group .__image {
        border-radius: 1rem;
        border: solid #252525 0.5rem;
        background-color: #F0F0F1;
        text-align: center;
        padding: 0rem;
    }
}
/*<!---------------our clints-end------>*/
.bg {
    background-image: url(photos/office\ .jpg);
    background-position: 50%;
    background-size: cover;
    height: 90vh;
}
.bg .__filter{
    text-align: center;
    height: 100%;
    background-color: #00000096;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bg .__filter button {
    width: 20%;
    padding:1rem;
}
/* footer start  */
footer {
    color: white;
    padding: 3rem;
    display: flex;
    height: auto;
    background-color: #202020;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

footer p {
    color: gray;
}

footer p:hover {
    color: white;
    cursor: pointer;
}

footer div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

footer div .__icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    color: gray;
}

footer div .__icon i:hover {
    color: white;
    cursor: pointer;
}

.__last {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
@media only screen and (max-width: 270px){
    #remove{
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer div {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
    }

    footer div .__icon {
        display: flex;
        flex-direction: row;
        padding: 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        color: gray;
    }

    footer div .__icon i {
        margin-right: 1rem;
    }
}